---
import { Header } from "../components/Header";
import Sidebar from "../components/SideBar";
import Base from "../layouts/Base.astro";
---

<Base>
	<div class="flex">
		<Sidebar />
		<div class="w-full">
			<Header />
		</div>
	</div>
</Base>
