---
import { Header } from "../components/mobile-apps/Header";
import { SubHeader } from "../components/mobile-apps/SubHeader";
import Base from "../layouts/Base.astro";
---

<Base>
    <div class="flex flex-col mt-[41.5px] ml-[48.5px]">
        <Header />
        <SubHeader />
    </div>
</Base>
