---
import { Header } from "../components/Header";
import Sidebar from "../components/SideBar";

const pathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Project M.</title>
	</head>
	<body>
		<div class="flex">
			<Sidebar currentPage={pathname} />
			<div class="w-full">
				<Header />
				<slot />
			</div>
		</div>
	</body>
</html>
